---
import type { ComponentWithIcon } from "@/types";
import Icon from "@/components/Icon.astro";
import { SESSION_QUERY_PARAM_NAME } from "@/configs";

interface SubItem {
  slot: string;
  href: string;
}

interface Props extends ComponentWithIcon {
  subItems?: SubItem[];
  href?: string;
}

const isActive = false;

function addSessionToHref(href: string): string {
  return `${href}?${SESSION_QUERY_PARAM_NAME}=${new URL(Astro.request.url).searchParams.get(SESSION_QUERY_PARAM_NAME)}`
}
---

{
  Astro.props.subItems ? (
    <li class="treeview">
      <a
        class:list={["app-menu__item", { active: isActive }]}
        href="javascript:"
        data-toggle="treeview"
      >
        <Icon name={Astro.props.iconName} class="app-menu__icon" />
        <span class="app-menu__label">
          <slot />
        </span>
        <Icon name="chevron-right" class="treeview-indicator" />
      </a>
      <ul class="treeview-menu">
        {Astro.props.subItems.map(({ slot, href }) => (
          <li>
            <a
              class="treeview-item"
              href={addSessionToHref(href)}
            >
              <Icon name="circle-fill" class="icon" />
              {slot}
            </a>
          </li>
        ))}
      </ul>
    </li>
  ) : (
    <li>
      <a
        class:list={["app-menu__item", { active: isActive }]}
        href={addSessionToHref(String(Astro.props.href))}
      >
        <Icon name={Astro.props.iconName} class="app-menu__icon" />
        <span class="app-menu__label">
          <slot />
        </span>
      </a>
    </li>
  )
}
