---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Scripts from "../components/Scripts.astro";
import Sidebar from "../components/Sidebar.astro";

type HeadProps = Parameters<typeof Head>[0];

interface BreadcrumItem {
  href: string;
  slot: string;
}

interface Props extends HeadProps {
  description?: string;
  breadcrumbItems: BreadcrumItem[];
  iconClasses?: string;
}
---

<!doctype html>
<html>
  <Head title={Astro.props.title} />
  <body class="app sidebar-mini">
    <Header />
    <Sidebar />
    <main class="app-content">
      {
        Astro.props.iconClasses && (
          <div class="app-title">
            <div>
              <h1>
                <i class={Astro.props.iconClasses} />
                {Astro.props.title}
              </h1>
              {Astro.props.description ? (
                <p>{Astro.props.description}</p>
              ) : (
                <p>&nbsp;</p>
              )}
            </div>
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item">
                <i class="bi bi-house-door fs-6" />
              </li>
              {Astro.props.breadcrumbItems.map(({ href, slot }) => (
                <li class="breadcrumb-item fs-6">
                  <a href={href}>{slot}</a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <slot />
    </main>
    <Scripts />
    <slot name="specific-js" />
  </body>
</html>
