---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Icon from "@/components/Icon.astro";
import Scripts from "@/components/Scripts.astro";
import Sidebar from "@/components/Sidebar.astro";
import type { ComponentWithIcon } from "@/types";

type HeadProps = Parameters<typeof Head>[0];

interface BreadcrumItem {
  href: string;
  slot: string;
}

interface Props extends HeadProps, ComponentWithIcon {
  description?: string;
  breadcrumbItems?: BreadcrumItem[];
}
---

<!doctype html>
<html>
  <Head title={Astro.props.title} />
  <body class="app sidebar-mini">
    <Header />
    <Sidebar />
    <main class="app-content">
      {
        Astro.props.iconName && (
          <div class="app-title">
            <div>
              <h1>
                <Icon name={Astro.props.iconName} />
                {Astro.props.title}
              </h1>
              {Astro.props.description ? (
                <p>{Astro.props.description}</p>
              ) : (
                <p>&nbsp;</p>
              )}
            </div>
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item">
                <Icon name="house-door" class="fs-6" />
              </li>
              {Astro.props.breadcrumbItems.map(({ href, slot }) => (
                <li class="breadcrumb-item fs-6">
                  <a href={href}>{slot}</a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <slot />
    </main>
    <Scripts />
    <slot name="specific-js" />
  </body>
</html>
