---
import Icon from "@/components/Icon.astro";
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/Input.astro";
import { htmlPattern, patternTitles } from "@/patterns";
import type { User } from "@/types";

const { loggedUser } = Astro.locals as { loggedUser: User | null };
---

<Layout title="Configurar perfil" iconName="person-gear">
  <div class="row user">
    <div class="col-md-12">
      <div class="profile">
        <div class="info w-100">
          <img class="user-img" src="./images/user-avatar.png" />
          <h4>{loggedUser?.name}</h4>
          <p>{loggedUser?.admin ? "Administrador" : "Secretario"}</p>
        </div>
        <div class="cover-image"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tile p-0">
        <ul class="nav flex-column nav-tabs user-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#user-settings"
              data-bs-toggle="tab"
            >
              Datos personales
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active" id="user-settings">
          <div class="tile user-settings">
            <h4 class="line-head">Datos personales</h4>
            <form
              method="post"
              action={`/api/perfil/datos-personales?session=${loggedUser?.id}`}
            >
              <div class="row mb-4">
                <div class="col-md-6">
                  <Input
                    name="name"
                    required
                    minlength={3}
                    pattern={htmlPattern.name}
                    title={patternTitles.name}
                    value={loggedUser?.name.split(" ")[0] || ""}
                  >
                    Nombre
                  </Input>
                </div>
                <div class="col-md-6">
                  <Input
                    name="lastName"
                    required
                    minlength={3}
                    pattern={htmlPattern.name}
                    title={patternTitles.name}
                    value={loggedUser?.name.split(" ")[1] || ""}
                  >
                    Apellido
                  </Input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <Input
                    type="email"
                    name="email"
                    required
                    value={loggedUser?.email || ""}
                  >
                    Correo electrónico
                  </Input>
                </div>
                <div class="col-md-12">
                  <Input
                    type="tel"
                    name="phonePersonal"
                    required
                    minlength={11}
                    maxlength={13}
                    pattern={htmlPattern.phone}
                    title={patternTitles.phone}
                    value={loggedUser?.phonePersonal || ""}
                  >
                    Teléfono personal
                  </Input>
                </div>
                <div class="col-md-12">
                  <Input
                    type="tel"
                    name="phoneJob"
                    required
                    minlength={11}
                    maxlength={13}
                    pattern={htmlPattern.phone}
                    title={patternTitles.phone}
                    value={loggedUser?.phoneJob || ""}
                  >
                    Teléfono laboral
                  </Input>
                </div>
                <div class="col-md-12">
                  <Input
                    type="tel"
                    name="phoneHome"
                    required
                    minlength={11}
                    maxlength={13}
                    pattern={htmlPattern.phone}
                    title={patternTitles.phone}
                    value={loggedUser?.phoneHome || ""}
                  >
                    Teléfono de hogar
                  </Input>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-md-12">
                  <button class="btn btn-primary w-100">
                    <Icon name="check-circle-fill" class="me-2" />
                    Guardar cambios
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
